<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	  <webServices>
		  <protocols>
			  <add name="HttpGet"/>
			  <add name="HttpPost"/>
		  </protocols>
	  </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAdminService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICourseService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ITeacherService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICourseService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IAdminService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IStudentService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ITeacherService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICourseService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8051/TcpBinding" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAdminService1" contract="AdminService.IAdminService"
        name="NetTcpBinding_IAdminService">
        <identity>
          <userPrincipalName value="DESKTOP-MK54KU3\PRITESH" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8052/TcpBinding" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IStudentService" contract="StudentService.IStudentService"
        name="NetTcpBinding_IStudentService">
        <identity>
          <userPrincipalName value="DESKTOP-MK54KU3\PRITESH" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8053/TcpBinding" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ITeacherService1" contract="TeacherService.ITeacherService"
        name="NetTcpBinding_ITeacherService">
        <identity>
          <userPrincipalName value="DESKTOP-MK54KU3\PRITESH" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8054/TcpBinding" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICourseService2" contract="CourseService.ICourseService"
        name="NetTcpBinding_ICourseService">
        <identity>
          <userPrincipalName value="DESKTOP-MK54KU3\PRITESH" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>